* {
    box-sizing: border-box;
}
body {
    padding: 0;
    margin: 0;
    background-color: #fafafa;
}
body p {
    font-size: 17px;
    font-weight: 400;
    color: #212529;
}
ul.nav.nav-tabs {
    border: 0px;
}
ul.nav.nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.4;
    border-radius: 4px 4px 0 0;
    color: #000;
    font-weight: 400;
    text-decoration: none;
}
ul.nav.nav-tabs>li {
    padding: 20px;
}
ul.nav.nav-tabs {
    min-width: 420px;
    display: flex;
    gap: 16px;
    justify-content: center;
    width: 100%;
}
.nav-tabs>li.active>a {
    border: 0px;
    color: #000;
    font-weight: 500;
    cursor: default;
    background-color: #fff;
    text-decoration: none;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    cursor: default;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    border-bottom-color: transparent;
}
.nav-tabs li.active a {
    border: 0px;
}
/* ul.nav.nav-tabs {
    width: 100%;
    display: flex;
    justify-content: center;
} */
#exTab2 h3 {
  color : white;
  background-color: #428bca;
  padding : 5px 15px;
}
.imageBox img {
    width: 100%;
}
span.perfect {
    color: #87b44a;
}
span.gift {
    color: #f36f1a;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    border-bottom: 2px solid #87b44a;
    border-top: transparent;
    background-color: transparent;
    border-left: 0px;
    border-right: 0px;
}
.nav-tabs .nav-tabs:hover {
    border-color: transparent;
}
ul.button_list {
    display: flex;
    list-style: none;
    padding-left: 0px;
}
ul.button_list li {
    padding: 0px 20px;
}
button.btn.btn-success.btn_first {
    background-color: #87b44a;
    border-color: #87b44a;
    padding: 10px 20px;
    font-weight: 500;
}
.form_section input {
    border-radius: 16px;
    position: relative;
    background-color: #ffffff;
    border: 1px solid #bfbfbf;
    font-size: 16px;
    width: 100%;
    padding: 12px 12px;
    transition: border-color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,background-color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.form_section input:hover {
    box-shadow: rgba(135, 180, 74, 0.25) 0 0 0 0.2rem;
    border-color: #87b44a;
}
.form-check-input:checked {
    background-color: #0d6efd;
    border-color: #0d6efd;
    width: auto;
}
.form-check-input {
    width: 1em !important;
}
.submit_btn {
    background-color: #87b44a;
    border-color: #87b44a;
    padding: 12px 12px;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
}
.submit_btn:hover {
    color: #87b44a;
    background-color: #fff;
    border: 1px solid #87b44a;
}
.form-check-input[type=checkbox] {
    margin-top: 0;
}
.money {
    color: #87b44a;
}
ul.image_list {
    gap: 16px;
}

.image_list li {
    overflow: hidden;
    border-radius: 15px;
    border: 2px solid #fff;
    width: 400px;
    height: 200px;
    display: flex;
}
.image_list li img {
    transition: 0.3s;
    width: 100%;
}
.image_list li:hover img {
    transform: scale(1.1);
    transition: 0.3s;
}
ul.social_list {
    display: flex;
    list-style: none;
    padding-left: 0px;
    gap: 16px;
}
ul.social_list li {
    padding: 10px;
    border: 1px solid #000;
    border-radius: 15px;
}
.nav-tabs .nav-link:hover {
    isolation: isolate;
    border-color: var(--bs-nav-tabs-link-hover-border-color);
    border: 0px;
}
